.portfolio-about{
    margin-top: 20px;
}
.name{
    font-weight: bold;
}
.work-title{
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
}
.my-details{
    text-align: justify;
}
.my-photo{
    background-image: url('~src/assets/img/self.jpg');
    height: 250px;
    width: auto;
    background-size: cover;
    background-repeat: no-repeat;
}